[submodule "ext/glew"]
	path = ext/glew
	url = git@github.com:jccosta/glew.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = git@github.com:jccosta/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = git@github.com:jccosta/glm.git
